<table class="table answer-table" id="<%=type%>-answer-table">
  <thead>
    <tr>
      <th scope="col"><%= type.capitalize %></th>
    </tr>
  </thead>
  <tbody id="<%=type%>-answer-table-body">
  </tbody>
</table>
