<h1>Boggle</h1>

<table align="center" id="boggle_board">
  <%= render 'board', board: @board %>
</table>

<div>
  <p id="word">Your Word</p>
  <button id="add" type="button">Add Word</button>
  <button id="start" type="button">Start Game</button>
  <button id="reset" type="button">Reset Game</button>
</div>


<%= button_to "Start Game", start_path, remote: true, method: :get %>

<table id="correct">
</table>

<table id="wrong">
</table>

<div id="timer" />

<script>
  $(document).ready(function(){
    $('#boggle_board td').on('click', function(){
      if($('#timer').data('state') === 'running') {
        let selected = $(this)
        let value = $(this).text().trim()
        let hidden = $(this).find( ":hidden" ).val()
        $.ajax({
          method: "post",
          url: "/select",
          dataType: "json",
          data: {value: value, index: hidden},
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          success: function(data){
            if (data.word === "removed") {
              selected.removeClass('active')
              $("#word").text(data.selected.join(""));

            } else {
              selected.addClass('active')
              $("#word").text(data.selected.join(""));
            }
          },
          error: function(data){
            alert("error selecting")
          },
          // complete: function(){
          //   alert('successs')
          // }
        });
      }
    })
    $('#add').hide()
    $('#add').on('click', function() {
      $.ajax({
        method: "post",
        url: "/add",
        dataType: "json",
        // data: {value: value, index: hidden},
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        success: function(data){
          alert(data.word)
          $('#correct').append( ` <tr> <td> ${data.selected.join("")} </td> </tr>`);
          $("#word").text("")
          $('#boggle_board td').removeClass('active')
        },
        error: function(data){
          // alert(data.responseJSON.word)
          $('#wrong').append( ` <tr> <td> ${data.responseJSON.selected.join("")} </td> </tr>`);
          $("#word").text("")
          $('#boggle_board td').removeClass('active')
        },
        // complete: function(){
        //   alert('successs')
        // }
      });
    })

    $('#start').on('click', function() {
      $("#timer").timer('resume');
      $('#add').show()
      $('#start').hide()
    })

    $("#timer").timer({
      countdown: true,
      duration: '3m',
      callback: function() {
        alert('Time up!');
        $('#start').show()
        $('#add').hide()
      }
    });
    $("#timer").timer('pause')

    $('#reset').on('click', function() {
      $.ajax({
        method: "get",
        url: "/home",
        dataType: "json",
        // data: {value: value, index: hidden},
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        success: function(data){
          alert('success')
          $('#timer').timer('reset');
          $("#word").text("Your Word");
          $('#boggle_board td').removeClass('active')
        },
        error: function(data){
          // alert(data.responseJSON.word)
        },
        complete: function(){
          $('#timer').timer('reset');
          $('#timer').timer('pause');
          $("#word").text("Your Word");
          $('#boggle_board td').removeClass('active')
          $('#start').show()
          $('#add').hide()
          $('#wrong').empty()
          $('#correct').empty()
        }
      });
    })
  });
</script>
