<div class="row">
  <div class="col-12 text-center mt-3 mb-3">
    <h1>Boggle</h1>
    <div id="timer"></div>
  </div>
  <div class="col-6 col-md-3 order-last order-md-3">
    <table class="table answer-table" id="wrong-answer-table">
      <thead>
        <tr>
          <th scope="col">Wrong</th>
        </tr>
      </thead>
      <tbody id="wrong-answer-table-body">
      </tbody>
    </table>
  </div>
  <div class="col-12 col-md-6 order-2 order-md-4">
    <table id="boggle-board" class="table table-bordered">
      <%= render 'board', board: @board %>
    </table>
  </div>
  <div class="col-6 col-md-3 order-last order-md-5">
    <table class="table answer-table" id="correct-answer-table">
      <thead>
        <tr>
          <th scope="col">Correct</th>
        </tr>
      </thead>
      <tbody id="correct-answer-table-body">
      </tbody>
    </table>
  </div>
  <div class="col-12 text-center order-3 order-md-6">
    <h3 id="word">Welcome to Boggle</h3>
  </div>
  <div class="col-12 text-center order-5 order-md-12 mb-4">
    <%= button_to "Start Game", start_path, remote: true, method: :get, id: "start", class: 'btn btn-primary'%>
    <div class="row">
      <div class="col-6">
        <button id="add" type="button" class="btn btn-success float-sm-right">Add Word</button>
      </div>
      <div class="col-6">
        <%= button_to "Reset Game",  home_path, remote: true, method: :get, id: "reset", class: 'btn btn-danger float-sm-left'%>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){

    $('#add').hide()
    $('#add').on('click', function() {
      $.ajax({
        method: "post",
        url: "/add",
        dataType: "json",
        // data: {value: value, index: hidden},
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        success: function(data){
          console.log(data.word)
          $('#correct-answer-table-body').append( ` <tr> <td> ${data.selected.join("")} </td> </tr>`);
          $("#word").text("")
          $('#boggle-board td').removeClass('active')
        },
        error: function(data){
          $('#wrong-answer-table-body').append( ` <tr> <td> ${data.responseJSON.selected.join("")} </td> </tr>`)
          $("#wrong-answer-table").animate({scrollTop: $("#wrong-answer-table").prop("scrollHeight")});
          $("#word").text("")
          $('#boggle-board td').removeClass('active')
        },
        // complete: function(){
        //   alert('successs')
        // }
      });
    })

    $('#reset').hide();
    $('#start').on('click', function() {
      $("#timer").timer('reset');
      $('#add').show()
      $('#reset').show();
      $('#start').hide()
      $('#wrong-answer-table-body').empty()
      $('#correct-answer-table-body').empty()
    })

    $("#timer").timer({
      countdown: true,
      duration: '3m',
      callback: function() {
        alert('Time up!');
        $('#start').show()
        $("#word").text("Welcome to Boggle");
        $('#add').hide()
        $('#reset').hide()
      }
    });
    $("#timer").timer('pause')
  });
</script>
