@import "bootstrap";

$white: #fff;
$purple: #c8ccff;
$gray: #95a5a6;

html,
body {
  background-color: $white;
  height: 100%;
}

#boggle-board {
  td {
    width: 100px;
    height: 100px;
    text-align: -webkit-center;
    font-size: 3em;
  }
}

td:hover {
  background-color: $purple;
}

.active {
  background-color: $gray;
}

.answer-table {
  max-height:400px;
  overflow: auto;
  display: block;
  th {
    width: 300px;
  }
}

#word-selected {
  min-height: 40px;
}

#add-word, #reset-game {
  display: none;
}
